* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    padding: 20px;
  
}
section {
    text-align: center;
}
main {
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    background-color:#1f2937;
    padding: 30px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;  
}
h1 {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
}
h2 {
    color: #f9faf8;
    font-size: 24px;
}
p {
    color:#f9faf8
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
   
}
li {
    margin: 0 20px;
    color: #f9faf8;
    font-size: 18px;
}
li a {
    text-decoration: none;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.awesome {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;

    padding: 30px 30px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial {
    background-color:#E5E7EB; 
    padding: 40px 40px;
}
.testimonial p {
    color:#1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.cta {
    padding: 40px 40px;
    background-color: #999fa9;
}

.random {
    padding: 10px;
}
.random > h2 {
    margin: 20px;
    text-align: center;
}
.random > img {
    padding: 20px;
    text-align: center;
    margin: 10px;
}
section > h2 {
    color:#1f2937
}
footer {
    text-align: center;
    background-color: #1F2937;
    padding: 20px;
    color:#E5E7EB
}